.form__body {
  border-radius: 10px;
  border: 1px solid aliceblue;
  padding: 0 50px 50px;
  margin-top: 50px;
}

.form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.form__button {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid aliceblue;
}
